/* Separat todo */
.todo {
    background-color: #f8f8f8;
    border: 1px solid #a7a7a7;
    border-radius: 8px;
    padding: 8px;
    width: 250px;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/* ta bort-knapp */
.delete-btn {
    background-color: #fc2929;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-bottom: 1em;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.delete-btn:hover {
    background-color: #cc0000;
    transform: scale(1.05);
}

.delete-btn:active {
    background-color: #990000; 
    transform: scale(0.95);
}

/* Formulär för status-ändring */
.statusForm {
    margin: 1em;
}

/* label */
.statusForm label {
    font-weight: bold;
    color: #333;
}

/* select-box */
.statusForm select {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: #fff;
    transition: border-color 0.3s ease;
}

.statusForm select:focus {
    border-color: #1b2733;
    outline: none;
}

/* Media queries */
@media (max-width: 620px) {
    .todo {
        width: 90%;
    }
    .delete-btn {
       width: 80%;
    }
    
}